[submodule "tmux/.config/tmux/plugins/tpm"]
	path = tmux/.config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "kitty/.config/kitty/themes/catppuccin"]
	path = kitty/.config/kitty/themes/catppuccin
	url = https://github.com/catppuccin/kitty
